<form #formulario="ngForm" (ngSubmit)="doSubmit(formulario)">
  <h1 mat-dialog-title>Nueva lista de la compra</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Nombre de la lista</mat-label>
      <input matInput required [(ngModel)]="formulario.value.nombreLista" name="nombreLista">
      <mat-error *ngIf="formulario.controls['nombreLista']?.invalid">Este campo es obligatorio</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button type="submit" mat-raised-button color="primary" >Añadir</button>
  </div>
</form>

